<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <!-- Para que se adapte a los tipos de pantalla -->
    <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
    <!-- Vinculación con hoja de CSS -->
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- Nombre que figura en la pestaña del navegador -->
    <title>Turismo Misiones</title>
    <!-- Icono que figura en la pestaña del navegador -->
    <link rel="icon" href="../img/Logo.ico">
    <!-- Tipo de letra -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  </head>

  <body id="cultura">
    <div class="containerP">   
      <header>
        <div class="header__logo">
          <img src="../img/Logo.png">
        </div>

          <!-- <nav class="header__menu">
            <div class="menu__burguer">
              <img src="img/open-menu2.png">
            </div>
            <ul class="menu__option">
              <li class="option__link"><a href="#">Inicio</a></li>
              <li class="option__link"><a href="#">Cultura</a></li>
              <li class="option__link"><a href="#">Animales</a></li>
              <li class="option__link"><a href="#">Lugares</a></li>
              <li class="option__link"><a href="#">Contacto</a></li>
            </ul>
          </nav> -->

        <nav class="navbar navbar-light">
          <div class="container-fluid">

            <!-- Botón para abrir menú-->
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <!-- Icono del menú-->
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Botón para cerrar menú-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <!-- Header el menú abierto -->
              <div class="offcanvas-header ">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                <button type="button" class="btn-close text-resets" data-bs-dismiss="offcanvas" aria-label="Close"></button>

              </div>
              <!-- Menú que aparece al abrir -->
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="cultura.html">Cultura</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="animales.html">Animales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="lugares.html">Lugares</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </nav>
      </header>


      <main class="inicio" id="inicio">
       
      </main>

      <footer>
        <div class="footer">
          <div class="footer__redes">
            <a href="https://www.facebook.com/SuenosdeEmociones" target="_blank">
              <img class="redes__icono" src="https://img.icons8.com/material-rounded/24/ffffff/facebook.png"/>
            </a>
            <a href="https://twitter.com/bizarrap" target="_blank">
              <img class="redes__icono" src="https://img.icons8.com/ios-glyphs/24/ffffff/twitter--v1.png"/>
            </a>
            <a href="https://www.instagram.com/khamai.gg/" target="_blank">
              <img class="redes__icono" src="https://img.icons8.com/ios-glyphs/24/ffffff/instagram-new.png"/>
            </a>
           </div>
           <p class="footer__txt">© Turismo Misiones. 2021</p>
        </div>
      </footer>
    </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
